Sphinx==7.3.7
docutils==0.21.2
shibuya==2025.4.25
sphinx_design==0.6.1
sphinx-togglebutton==0.3.2
sphinx_sitemap==2.6.0
sphinxcontrib-mermaid
sphinxcontrib-video==0.4.1
sphinxcontrib-youtube==1.4.1

PyJWT==2.4.0
