# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#

version: 2.1

jobs:
  docs-test:
    docker:
      - image: python:3.7
    resource_class: medium
    steps:
#      - run:
#          name: Placeholder ECHO $PWD
#          command: |
#            echo $PWD
      - checkout
#      - run:
#          name: Post-checkout WTF is here
#          command: |
#            echo $PWD
#            ls -aslh .
#      - add_ssh_keys:
#          fingerprints:
#            - "SHA256:RgCpYZUJ4BY0EKSVzT9rCyOoEgWTeKyDL7Su7DYWvEU"
#      - run:
#          name: Download amperity-docs
#          command: git clone https://github.com/amperity/amperity-docs.git
#      - run:
#          name: Post-amperity-docs checkout WTF is here
#          command: |
#            echo $PWD
#            ls -aslh .
      - run:
          name: Install dependencies
          command: pip install -r requirements.txt
#      - run:
#          name: Install tool for using Markdown
#          command: pip install myst-parser
      - run:
          name: Post-dependencies WTF is here
          command: |
            echo $PWD
            ls -aslh .
      - run:
          name: Build Contributing
          command: sphinx-build -b html -W amperity-docs/contributing/source /output/contributing


workflows:
  version: 2
  build:
    jobs:
      - docs-test

