/* Colors
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *



 /*
  * The following are the primary colors. Use red and yellow sparingly.
  */

 $pdf-cover-bg: #ffffff;
 
 $amperity-brand-off-black: #0c0c0c;
 $amperity-brand-anvil: #282b2e;
 $amperity-brand-slate: #5a5f66;
 $amperity-brand-prime-gray: #c2cbd1;
 $amperity-brand-cement: #e8edef;
 $amperity-brand-cloud: #f2f4f4;
 $amperity-brand-white: #ffffff;
 
 $amperity-brand-midnight: #002c33;
 $amperity-brand-dark-teal: #09717f;
 $amperity-brand-ocean: #459aa8;
 $amperity-brand-prime-teal: #80c7d1;
 $amperity-brand-ice: #caefef;

 $amperity-brand-gold: #b2b520;
 $amperity-brand-moss: #d8e21a;
 $amperity-brand-yellow: #dff200;
 $amperity-brand-sunburst: #ddf85b;
 $amperity-brand-merengue: #edff95;

 $amperity-brand-crimson: #f75b2b;
 $amperity-brand-prime-red: #ff9988;
 $amperity-brand-hmred: #f5e6e8;

 $amperity-brand-apple: #8fdd7a;
 $amperity-brand-prime-green: #ade5a3;
 $amperity-brand-hmgreen: #e9f6ea;

 $amperity-brand-lavender: #b5b5e0;

 $amperity-brand-flamingo: #f5cfe4;

 $amperity-brand-orange: #f4b670;


 

 $amperity-smoke-grey: #d2e2f0;
 $amperity-stone-grey: #81a0c2;
 $amperity-cool-grey: #4b6a8e;
 $amperity-slate-grey: #213752;
 $amperity-space-grey: #152234;
 $amperity-white: #ffffff;
 $amperity-green: #00bf84;
 $amperity-gold: #ffd636;
 $amperity-almost-black: #0f0f0f;



 $amperity-code-block-none: #e8edef;
 $amperity-code-block-bash: #06456a;
 $amperity-code-block-clojure: #0d5a87;
 $amperity-code-block-console: #23709d;
 $amperity-code-block-css: #0c0c0c;
 $amperity-code-block-django: #82de35;
 $amperity-code-block-html: #98e955;
 $amperity-code-block-javascript: #4c9600;
 $amperity-code-block-json: #64bf08;
 $amperity-code-block-lua: #c2cbd1;
 $amperity-code-block-markdown: #a75c00;
 $amperity-code-block-mysql: #ddf85b;
 $amperity-code-block-python: #c50f46;
 $amperity-code-block-rest: #df3569;
 $amperity-code-block-rst: #f2f4f4;
 $amperity-code-block-ruby: #a72800;
 $amperity-code-block-sass: #8f0b8f;
 $amperity-code-block-scala: #a227a2;
 $amperity-code-block-salt: #b843b8;
 $amperity-code-block-sql: #09717f;
 $amperity-code-block-text: #d43a09;
 $amperity-code-block-yaml: #c2cbd1;
 $amperity-code-block-future1: #a975d3;
 $amperity-code-block-future2: #8a4bbd;
 $amperity-code-block-future3: #732dab;
 $amperity-code-block-future4: #5e0f9d;
 $amperity-code-block-future5: #f45d7e;
 $amperity-code-block-future6: #F2325b;
 $amperity-code-block-future7: #d3002d;
 $amperity-code-block-future8: #a40023;
 $amperity-code-block-future9: #b26c00;
 $amperity-attention: #094b95;
 $amperity-caution: #ffaF35;
 $amperity-custom: #007552;
 $amperity-danger: #4f2f1b;
 $amperity-error: #b23e00;
 $amperity-hint: #382f0c;
 $amperity-important: #5990ce;
 $amperity-note: #007552;
 $amperity-tip: #3478c3;
 $amperity-warning: #ff5900;
 $amperity-table-border: #213752;
 $amperity-table-border-bottom: #213752;
 $amperity-table-box-shadow: #d2e2f0;
 $amperity-companyname: #152234;
 $amperity-header: #152234;
 $amperity-header-underline: #152234;
 $amperity-link: #213752;
 $amperity-none: #ffffff;
 $amperity-rollover: #ffd636;
 $amperity-subheaders: #ffffff;
 $amperity-sidebar: #1e2022;
 $amperity-leftnav-groups: #d2e2f0;
 $amperity-leftnav-expanded: #f3f8fd;
 $amperity-leftnav-rollover: #4b6a8e;
 $amperity-leftnav-active: #3478c3;
 $amperity-topnav-rollover: #f3f8fd;
 $amperity-topnav-links-rollover: #4b6a8e;
 $amperity-tab-selected-color: #213752;
 $amperity-tab-selected-text: #ffffff;
 $amperity-tab-normal-color: #d2e2f0;
 $amperity-tab-normal-text: #0f0f0f;
 $amperity-tab-hover: #4b6a8e;
 $amperity-tab-box-shadow: #d2e2f0;





 $markup-red: #f06543;
 $markup-dark-blue: #1e2022;
 $markup-blue-grey: #c9d6df;
 $markup-bright-yellow: #f9e784;


 /*
  * The following defines the shades of the grey palette, based on #8a8a8d.
  */
 
 $markup-lightest-grey: #e8e8e8;
 $markup-lighter-grey: #d1d1d1;
 $markup-light-grey: #bababa;
 $markup-normal-grey: #a3a3a3;
 $markup-more-grey: #8c8c8c;
 $markup-dark-grey: #747474;
 $markup-darker-grey: #686868;
 $markup-darkest-grey: #4a4a4a;
 $markup-almost-black: #0f0f0f;


 /*
  * The following map directly to Sphinx directives; the colors are the tetrad colors for #5d9acd, #378f6e, and #e68c42;
  */

 $markup-code-block-none: #93a1aa;
 $markup-code-block-bash: #345995;
 $markup-code-block-console: #216869;
 $markup-code-block-css: #51344d;
 $markup-code-block-django: #8fcb9b;
 $markup-code-block-html: #eac435;
 $markup-code-block-javascript: #e01a4f;
 $markup-code-block-json: #c3acc3;
 $markup-code-block-lua: #48639c;
 $markup-code-block-markdown: #ccc7b9;
 $markup-code-block-python: #464655;
 $markup-code-block-rest: #be7c4d;
 $markup-code-block-rst: #ccc7b9;
 $markup-code-block-ruby: #f15946;
 $markup-code-block-sass: #eee5e9;
 $markup-code-block-scala: #ff99c8;
 $markup-code-block-salt: #3e8989;
 $markup-code-block-sql: #84acce;
 $markup-code-block-text: #49a078;
 $markup-code-block-yaml: #94958b;


 /*
  * The highlight for code blocks is in the file pygments.css
  * at .highlight .hll { background-color: #f9e784 }
  */

 $markup-code-block-future1: #c8d59f;
 $markup-code-block-future2: #fe5f55;
 $markup-code-block-future3: #594157;
 $markup-code-block-future4: #d7d9b1;
 $markup-code-block-future5: #92dce5;
 $markup-code-block-future6: #b8c5d6;
 $markup-code-block-future7: #eaf9d9;
 $markup-code-block-future8: #daddd8;
 $markup-code-block-future9: #b9d6f2;
 $markup-code-block-future10: #626868;


 /*
  * The following map directly to Sphinx admonitions; the colors are variations of the tetrad colors for #a93439
  */

 $markup-attention: #92140c;
 $markup-caution: #e63462;
 $markup-custom: #52616b;
 $markup-danger: #9e2b25;
 $markup-error: #726da8;
 $markup-hint: #3d5a6c;
 $markup-important: #48639c;
 $markup-note: #52616b;
 $markup-tip: #317b22;
 $markup-warning: #f06543;

 /*
  * The following map directly to navigation and default styles; these are a mix of primary, secondary, and tetrad colors
  */

 $markup-companyname: #1e2022;
 $markup-header: #1e2022;
 $markup-header-underline: #1e2022;
 $markup-left-nav-active: #0353a4;
 $markup-nav-rollover: #98999a;
 $markup-link: #1e2022;
 $markup-none: #ffffff;
 $markup-rollover: #c9d6df;
 $markup-subheaders: #ffffff;
 $markup-table-border: #1e2022;
 $markup-sidebar: #1e2022;
 $markup-white: #ffffff;
 $markup-lightbluegrey-background: #fbfcfd;
 $markup-bluegrey-background: #edf2f5;

 /*
  * The following defines the content tabs directive.
  */

 $markup-tab-selected-color: #0353a4;
 $markup-tab-selected-text: #ffffff;
 $markup-tab-normal-color: #f0f5f9;
 $markup-tab-normal-text: #1e2022;
 $markup-tab-hover: #c9d6df;
 $markup-tab-box-shadow: #d7dad7;


 /*
  * The following defines the expando directive.
  */

 $markup-expando-border-color: #d7dad7;
 $markup-expando-text-color: #1e2022;
 $markup-expando-openclose-color: #1e2022;



/* Fonts
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * $primary: 
 *   Montserrat is used for the top global navigation and the grey nav on the left,
 *   as well as the global flyout menu on the right (hidden by default).
 *
 * $secondary: 
 *   Helvetica Neue is used for the body text and the Table of Contents on the right.
 * 
 * $mono: 
 *   Consolas is used for monospace text. 
 */

 @import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900);
 $primary: "Montserrat", "Helvetica Neue", "Helvetica", Arial, sans-serif;
 $secondary: "Montserrat", "Helvetica Neue", "Helvetica", Arial, sans-serif;
 $mono: "Consolas", "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", monospace;

