<div class="sy-head-socials">
  {%- include "components/nav-socials.html" -%}

  <a href="../advanced_search.html" aria-label="Advanced search">
    <figure class="light-only align-center">
      <img src="../_static/icon-advanced-search-light.svg" width="20px" alt="Advanced search">
    </figure>
    <figure class="dark-only align-center">
      <img src="../_static/icon-advanced-search-dark.svg" width="20px" alt="Advanced search">
    </figure>
  </a>

  <a href="https://amperity.com" aria-label="Amperity">
    <img src="_static/icon-social.svg" width="20px">
  </a>

</div>